.card {
  margin: 2em;
  padding: 2em 3em;
  gap: 2em;
  align-items: center;

  border: 1px solid var(--border-color);
  border-radius: 0.5em;
}

/* just to make sure */
:root {
  font-size: 16px;
}

h1,
h2 {
  margin: 0 0 1em 0;
}
